<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/home/main.css">
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
                    <header>
                        <div style="text-align:center;margin-top:25px;font-weight:bold;texxxt-decoration:none;">
                            <a>Welcome</a></div>
                        <h2>StudyWithUs</h2>
                    </header>
                    
                    <!-- <div class="xs-menu-cont">
                    <a id="menutoggle"><i class="fa fa-align-justify"></i></a>
                        <nav class="xs-menu displaynone">
                            <ul>
                                <li class="active">
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
        
                            </ul>
                        </nav>
                    </div> -->

                    <nav class="menu">
                        <ul>
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <!-- <li class="drop-down">
                                    <a href="#">Products</a>                                
                                    <div class="mega-menu fadeIn animated">
                                        <div class="mm-6column">
                                            <span class="left-images">
                                            <img  src="https://4.bp.blogspot.com/-faF-AemPFUM/U4ryP7pQRsI/AAAAAAAAEvA/fZ-hskCSln4/s1600/Magento%2Bthemes.jpg">
                                            <p>Most Popular Styles </p>
                                            </span>
                                            <span class="categories-list">
                                        <ul>
                                        <span>Computer</span>
                                            <li>Desktops</li>
                                            <li>Laptops</li>
                                            <li>Tablets</li>
                                            <li>Monitors</li>
                                            <li>Networking Printers</li>
                                            <li>Scanners</li>
                                            <li>Jumpers & Cardigans</li>
                                            <li><a class="mm-view-more" href="#">View more →</a></li>
                                        </ul>
                                        </span>
                                        
                                        </div>
                                        <div class="mm-3column">
                                    <span class="categories-list">
                                    <ul>
                                        <span>TV & Video</span>
                                            <li>LED TVs
                                            <li>Plasma TVs
                                            <li>3D TVs
                                            <li>DVD & Blu-ray Players
                                            <li>Home Theater Systems
                                            <li>Cell Phones
                                            <li>Apple iPhone
                                            <li><a class="mm-view-more" href="#">View more →</a></li>
                                        </ul>
                                    </span>							
                                        </div>
                                        <div class="mm-3column">
                                            <span class="categories-list">
                                    <ul>
                                        <span>Car Electronics</span>
                                        <li>GPS & Navigation</li>
                                        <li>In-Dash Stereos</li>
                                        <li>Speakers</li>
                                        <li>Subwoofers</li>
                                        <li>Amplifiers</li>
                                        <li>MP3 Players</li>
                                        <li>iPods</li>
                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                    </ul>
                                </span>
                                    </div>
                                </div>
                            </li>-->
                            <li>
                                <a href="/qna">QnA</a>
                            </li>
                            <li>
                                <a href="/schedules">Schedules</a>
                            </li>
                            <li style="float:right;">
                                <a href="#">My Profile</a>
                            </li>
                            <li style="float:right;">
                                <a href="/">Logout</a>
                            </li>
                        </ul>
                    </nav>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
    </html>