/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  background: #E5E8E1; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #E5E8E1, #9FB8B4); /*백그라운드 배경*/
  background: -moz-linear-gradient(right, #E5E8E1, #9FB8B4); /*오른쪽 색상이 왼쪽색상으로 그라데이션*/
  background: -o-linear-gradient(right, #E5E8E1, #9FB8B4);
  background: linear-gradient(to left, #E5E8E1, #9FB8B4);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
